<div class="text-sm text-gray-700 space-y-4">
  <h3 class="font-semibold text-gray-900"><%= t("terms_and_conditions.title") %></h3>
  <p class="font-medium text-gray-900"><%= t("terms_and_conditions.intro") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_1_title") %></h4>
  <p><%= t("terms_and_conditions.item_1") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_2_title") %></h4>
  <p><%= t("terms_and_conditions.item_2") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_3_title") %></h4>
  <p><%= t("terms_and_conditions.item_3") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_4_title") %></h4>
  <p><%= t("terms_and_conditions.item_4") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_5_title") %></h4>
  <p><%= t("terms_and_conditions.item_5") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_6_title") %></h4>
  <p><%= t("terms_and_conditions.item_6") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_7_title") %></h4>
  <p><%= t("terms_and_conditions.item_7") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_8_title") %></h4>
  <p><%= t("terms_and_conditions.item_8") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_9_title") %></h4>
  <p><%= t("terms_and_conditions.item_9") %></p>

  <h4 class="font-semibold text-gray-900"><%= t("terms_and_conditions.item_10_title") %></h4>
  <p><%= t("terms_and_conditions.item_10") %></p>

  <p class="font-medium text-gray-900 mt-6"><%= t("terms_and_conditions.conclusion") %></p>
</div>
